<div class="row justify-content-center mb-1">
  <div class="col-sm-12 col-md-6 bg-dark-subtle p-4 rounded">
    <div class="d-flex">
      <div class="me-2">
        <span class="bg-dark text-light fs-3 px-2" style="border-radius: 50%">{{
          bookStore?.author?.author?.charAt(0)
        }}</span>
      </div>

      <div>
        <div class="fs-3">
          <strong>{{ bookStore?.author?.author }}</strong>
        </div>
        <div class="fs-6 text-capitalize">
          {{ bookStore?.author?.birthPlace }}
        </div>
        <div class="fs-6 text-capitalize">
          {{ bookStore?.author?.birthday }}
        </div>
      </div>
    </div>
  </div>
</div>
